h2,
p {
  /* Center horizontally*/
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}