h2,
p {
    /* Center horizontally*/
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}