<mat-toolbar color="primary">
  <a [routerLink]="['/listUsers']"> <span style="color: white;">Aspire Task</span></a>
</mat-toolbar>
<div *ngIf="user !== undefined">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Basic Information">
      <div>
        <h2>Basic Information</h2>
        <p>Name: {{user.nickname}}</p>
        <p>Github profile link: <a href={{user.githubProfile}}>{{user.githubProfile}}</a></p>
        <p>Contribution count: {{user.contributionsCount}}</p>
      </div>
    </mat-tab>
    <mat-tab label="Organization">
      <div class="container">
        <h2>Organization Information</h2>
        <div style="margin-top: 10px">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="organizationDataSource">

              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
              </ng-container>

              <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef> Login </th>
                <td mat-cell *matCellDef="let element"> {{element.login}} </td>
              </ng-container>

              <ng-container matColumnDef="avatar_url">
                <th mat-header-cell *matHeaderCellDef> Avatar Url </th>
                <td mat-cell *matCellDef="let element"> {{element.avatar_url}} </td>
              </ng-container>

              <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef> Link </th>
                <td mat-cell *matCellDef="let element"> <a href={{element.link}}>{{element.link}}</a></td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="organizationDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: organizationDisplayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Pull requests">
      <h2>Pull Request Information</h2>
      <div class="container">
        <mat-table [dataSource]="pullRequestDataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="issue_url">
            <mat-header-cell *matHeaderCellDef> Issue Url </mat-header-cell>
            <mat-cell *matCellDef="let element"> <a href={{element.issue_url}}>{{element.issue_url}}</a> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="repo_name">
            <mat-header-cell *matHeaderCellDef> Repo Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.repo_name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.created_at | date}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="body">
            <mat-header-cell *matHeaderCellDef>Body </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.body}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="pullRequestDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: pullRequestDisplayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>